<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="de5ed79b-6cfa-4459-b47d-3c790fbaed11" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="de5ed79b-6cfa-4459-b47d-3c790fbaed11fileName">TestSuite-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
